  <!-- Main Content -->
  <main class="content">
  	<h1 class="title new-item">New Product</h1>

  	<form action="/addProduct.php" method="POST" enctype="multipart/form-data">
  		<div class="input-field">
  			<label for="sku" class="label">Product SKU</label>
  			<input type="text" id="sku" maxlength="9" name="sku" class="input-text" />
  		</div>
  		<div class="input-field">
  			<label for="name" class="label">Product Name</label>
  			<input type="text" id="name" maxlength="130" name="name" class="input-text" />
  		</div>
  		<div class="input-field">
  			<label for="price" class="label">Price</label>
  			<input type="text" id="price" name="price" class="input-text" />
  		</div>
  		<div class="input-field">
  			<label for="quantity" class="label">Quantity</label>
  			<input type="text" id="quantity" maxlength="3" name="quantity" class="input-text" />
  		</div>
  		<div class="input-field">
  			<label for="category" class="label">Categories</label>
  			<select multiple id="category" name="category" class="input-text">
  				{loop="$categories"}
				  <option value="{$value.id}">{$value.name}</option>
  				{/loop}
  			</select>
  		</div>
  		<div class="input-field">
  			<label for="description" class="label">Description</label>
  			<textarea id="description" maxlength="150" name="description" class="input-text"></textarea>
  		</div>
  		<div class="input-field">
  			<label for="image" class="label">Image</label>
  			<input type="file" id="image" name="image" class="input-field"></input>
  		</div>
  		<div class="actions-form">
  			<a href="products.php" class="action back">Back</a>
  			<input class="btn-submit btn-action" type="submit" value="Save Product" />
  		</div>

  	</form>
  </main>
  <!-- Main Content -->