<body>
  <!-- Main Content -->
  <main class="content">
    <div class="header-list-page">
      <h1 class="title">Categories</h1>
      <a href="/addCategory.php" class="btn-action">Add new Category</a>
    </div>
    <table class="data-grid">
      <tr class="data-row">
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Name</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Code</span>
        </th>
        <th class="data-grid-th">
            <span class="data-grid-cell-content">Actions</span>
        </th>
	  </tr>
	  {loop="$categories"}
      <tr class="data-row">
        <td class="data-grid-td">
           <span class="data-grid-cell-content">{$value.name}</span>
        </td>
      
        <td class="data-grid-td">
           <span class="data-grid-cell-content">{$value.id}</span>
        </td>
      
        <td class="data-grid-td">
          <div class="actions">
            <div class="action edit"><a href="/editCategory.php?id={$value.id}"><span>Edit</span></a></div>
            <div class="action delete"><a class="onclick" onclick="deletar('/deleteCategory.php?id={$value.id}')"><span>Delete</span></a></div>
          </div>
        </td>
	  </tr>
	  {/loop}
      
    </table>
  </main>
  <!-- Main Content -->