  <!-- Main Content -->
  <main class="content">
  	<div class="header-list-page">
  		<h1 class="title">Dashboard</h1>
  	</div>
  	<div class="infor">
  		You have {$products|count} products added on this store: <a href="/addProduct.php" class="btn-action">Add new Product</a>
  	</div>
  	<ul class="product-list">
  		{loop="$products"}
  		<li>
  			<div class="product-image">
  				<img src="{$value.image}" layout="responsive" width="164" height="145" alt="{$value.name}" />
  			</div>
  			<div class="product-info">
  				<div class="product-name"><span>{$value.name|formatName}</span></div>
  				<div class="product-price"><span>R$ {$value.price|formatPrice}</span></div>
  			</div>
  		</li>
  		{/loop}
  		<li>
  			<div class="product-image">
  				<a href="tenis-basket-light.html" title="Tênis Basket Light">
  					<img src="/assets/images/product/tenis-basket-light.png" layout="responsive" width="164"
  						height="145" alt="Tênis Basket Light" />
  				</a>
  			</div>
  			<div class="product-info">
  				<div class="product-name"><span>Tênis Basket Light</span></div>
  				<div class="product-price"><span class="special-price">1 available</span> <span>R$459,99</span></div>
  			</div>
  		</li>
  		<li>
  			<div class="product-image">
  				<a href="tenis-basket-light.html" title="Tênis Basket Light">
  					<img src="/assets/images/product/tenis-2d-shoes.png" layout="responsive" width="164" height="145"
  						alt="Tênis 2D Shoes" />
  				</a>
  			</div>
  			<div class="product-info">
  				<div class="product-name"><span>Tênis 2D Shoes</span></div>
  				<div class="product-price"><span class="special-price">2 Available</span> <span>R$459,99</span></div>
  			</div>
  		</li>
  		<li>
  			<div class="product-image">
  				<img src="/assets/images/product/tenis-sneakers-43n.png" layout="responsive" width="164" height="145"
  					alt="Tênis Sneakers 43N" />
  			</div>
  			<div class="product-info">
  				<div class="product-name"><span>Tênis Sneakers 43N</span></div>
  				<div class="product-price"><span class="special-price">Out of stock</span> <span>R$459,99</span></div>
  			</div>
  		</li>
  	</ul>
  </main>
  <!-- Main Content -->