<!-- Main Content -->
<main class="content">
	<h1 class="title new-item">New Category</h1>

	<form action="/editCategory.php" method="POST">
		<div class="input-field">
			<label for="id" class="label">Id Category</label>
			<input type="text" readonly value="{$category->getId()}" id="id" name="id" class="input-text" />
		</div>
		<div class="input-field">
			<label for="category-name" class="label">Category Name</label>
			<input type="text" value="{$category->getName()}" id="category-name" name="category-name" class="input-text" />
		</div>
		<div class="actions-form">
			<a href="/categories.php" class="action back">Back</a>
			<input class="btn-submit btn-action" type="submit" value="Save" />
		</div>
	</form>
</main>
<!-- Main Content -->