{if="$msg != ''"}

<!-- PRODUCT -->
{if="$msg == 'NOTDEFINED_PRODUCT'"}
<script>
	swal("Produto não definido.", "", "error");
	</script>
{/if}

{if="$msg == 'NOTFOUND_PRODUCT'"}
<script>
	swal("Produto não encontrado.", "", "info");
	</script>
{/if}

{if="$msg == 'NOTDELETED_PRODUCT'"}
<script>
	swal("Produto não deletado.", "", "warning");
	</script>
{/if}

{if="$msg == 'NOTINSERTED_PRODUCT'"}
<script>
	swal("Produto não inserido.", "", "info");
	</script>
{/if}

{if="$msg == 'NOTUPDATED_PRODUCT'"}
<script>
	swal("Produto não alterado.", "", "warning");
	</script>
{/if}


<!-- PRODUCT PDO -->
{if="$msg == 'PRODUCTPDO_SKULENGTH'"}
<script>
	swal("O código(sku) do produto deve ser menor que 10 dígitos.", "", "error");
</script>
{/if}
{if="$msg == 'PRODUCTPDO_NAMELENGTH'"}
<script>
	swal("O nome do produto deve ser menor que 130 caracteres.", "", "error");
</script>
{/if}
{if="$msg == 'PRODUCTPDO_AMOUNTLENGTH'"}
<script>
	swal("A quantidade de produtos deve ser menor que 999 itens.", "", "error");
</script>
{/if}
{if="$msg == 'PRODUCTPDO_DESCRIPTIONLENGTH'"}
<script>
	swal("A descrição do produto deve ser menor que 150 caracteres.", "", "error");
</script>
{/if}


<!-- CATEGORY -->
{if="$msg == 'NOTDEFINED_CATEGORY'"}
<script>
	swal("Categoria não definida.", "", "error");
</script>
{/if}
{if="$msg == 'NOTFOUND_CATEGORY'"}
<script>
	swal("Categoria não econtrada.", "", "info");
</script>
{/if}
{if="$msg == 'NOTINSERTED_CATEGORY'"}
<script>
	swal("Categoria não inserida.", "", "info");
</script>
{/if}
{if="$msg == 'NOTDELETED_CATEGORY'"}
<script>
	swal("Categoria não deletada.", "", "warning");
</script>
{/if}
{if="$msg == 'NOTUPDATED_CATEGORY'"}
<script>
	swal("Categoria não atualizado.", "", "warning");
</script>
{/if}


<!-- CATEGORY PDO -->
{if="$msg == 'CATEGORYPDO_SKULENGTH'"}
<script>
	swal("O nome da categoria deve ter menos de 130 caracteres.", "", "error");
</script>
{/if}


<!-- CATEGORY PRODUCT -->
{if="$msg == 'NOTDEFINED_REL'"}
<script>
	swal("Relação não definida.", "", "error");
</script>
{/if}
{if="$msg == 'NOTDELETED_REL'"}
<script>
	swal("Relação não deletada.", "", "warning");
</script>
{/if}
{if="$msg == 'NOTINSERTED_REL'"}
<script>
	swal("Relação não incluída.", "", "info");
</script>
{/if}



<!-- ADD CATEGORY -->
{if="$msg == 'ADDCATEGORY_SUCCESS'"}
<script>
	swal("Categoria cadastrada com sucesso!", "", "success");
</script>
{/if}

{if="$msg == 'ADDCATEGORY_ERROR'"}
<script>
	swal("Categoria não cadastrada.", "", "error");
</script>
{/if}

{if="$msg == 'ADDCATEGORY_CATEGORYNAMELENGTH'"}
<script>
	swal("O nome da categoria deve ser menor que 70 caracteres.", "", "error");
	</script>
{/if}


<!-- ADD PRODUCT -->
{if="$msg == 'ADDPRODUCT_SUCCESS'"}
<script>
	swal("Produto cadastrado com sucesso!", "", "success");
</script>
{/if}
{if="$msg == 'ADDPRODUCT_ERROR'"}
<script>
	swal("Produto não cadastrado.", "", "error");
</script>
{/if}
{if="$msg == 'ADDPRODUCT_ERRORFILE'"}
<script>
	swal("Imagem do produto não enviada.", "", "error");
</script>
{/if}


<!-- EDIT PRODUCT -->
{if="$msg == 'EDITPRODUCT_SUCCESS'"}
<script>
	swal("Produto alterado com sucesso!", "", "success");
</script>
{/if}
{if="$msg == 'EDITPRODUCT_ERROR'"}
<script>
	swal("Produto não alterado.", "", "error");
</script>
{/if}


<!-- EDIT CATEGORY -->
{if="$msg == 'EDITCATEGORY_SUCCESS'"}
<script>
	swal("Categoria alterada com sucesso!", "", "success");
</script>
{/if}
{if="$msg == 'EDITCATEGORY_ERROR'"}
<script>
	swal("Categoria não alterada.", "", "error");
</script>
{/if}


<!-- PROCESS PRODUCT -->
{if="$msg == 'NOTFOUND_IMPORT'"}
<script>
	swal("Arquivo não encontrado.", "", "info");
</script>
{/if}


{/if}