<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load("jquery", "1.4.2");
</script>
<script>
	function deletar(url) {
		swal({
			title: "Excluir",
			text: "Você tem certeza que deseja excluir este item?",
			icon: "warning",
			buttons: [
				"Cancelar",
				"Sim!"
			],
			dangerMode: true,
		}).then((willDelete) => {
			if (willDelete) {
				$.get(url, function () {
					swal("Excluído!", {
						icon: "success",
					}).then(() => {
						window.location.reload();
					});
				});
			}
		});
	}
</script>